[Unit]
Description=Start my custom container
DefaultDependencies=no
After=network.target
After=docker.service
Requires=docker.service
Before=multi-user.target

[Service]
Type=forking
ExecStart=/opt/skiff/scripts/start-mycontainer.sh
Restart=on-failure
RestartSec=15
TimeoutStartSec=infinity
RemainAfterExit=true